@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */

body{
  margin: 0px;
  background-color: black;
}
.container{
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
h1{
  color: #fff;
}
.multi-slides .pin-spacer > div{
  height: 500px !important;
  
}
.multi-slides .scroll-section {
  height: 500px;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-section-outer .pin-spacer > div{
  height: 700px !important;
}
.scroll-section-outer .pin-spacer{
  background-color: #5f60ff;
}
.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
  position: relative;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section-outer .scroll-section {
  height: 700px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red{
  background-color: rgb(238, 73, 73);
}
.green{
  background-color: rgb(168, 244, 120);
}
.yellow{
  background-color: rgb(225, 206, 62);
}

.pink{
  background-color: rgb(214, 134, 134);
}


.scroll-section h3 {
  color: #fff;
  /* letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium); */
  text-transform: uppercase;
}



.animi-home {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #233d1e;
}

.explore-btn {
  display: block;
  padding: 16px 24px;
  background-color: var(--dark-green);
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: var(--title-font);
}

.base-page-size {
  width: 100%;
  min-height: 100vh;
}

.explore-page-hero {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.mountains {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.mountain {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 750px;
}

.title-text {
  font-family: var(--title-font);
  font-size: 95px;
  margin: 0;
}

.sub-text {
  margin: 0;
  margin-bottom: 18px;
  text-align: center;
  max-width: 700px;
}

.header-content {
  padding: 18px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.back-btn {
  display: inline-block;
  padding: 12px 18px;
  background-color: var(--dark-green);
  color: white;
  font-size: 28px;
  font-family: var(--title-font);
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  margin-right: 40px;
  font-size: 28px;
  font-family: var(--title-font);
  cursor: pointer;
}
