/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/component/Intro/style.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.style_homeHeader__pzWuS{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.style_backgroundImage__VSyGj{
    width: 100%;
    height: 140vh;
    position: absolute;
    filter: brightness(60%);
}

.style_backgroundImage__VSyGj img{
    object-fit: cover;
}

.style_intro__EhKfW{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 35vh;
}

.style_intro__EhKfW h1{
    color: white;
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.style_introImage__qBbxh{
    filter: brightness(70%);
    width: 350px;
    height: 475px;
    position: absolute;
}

.style_introImage__qBbxh img{
    object-fit: cover;
    object-position: top;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/styles/description.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.description_description__maYuK{
    position: relative;
    /* color: white; */
    font-size: 3vw;
    text-transform: uppercase;
    margin-top: 30vw;
    margin-left: 10vw;
}
.description_description__maYuK p{
    margin: 0px;
    position: relative;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/component/Projects/style.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.style_projects__uneS6{
    position: relative;
    color: white;
    /* margin-top: 25vh; */
    padding: 10%;
}

.style_projectDescription__9BHFd{
    display: flex;
    height: 700px;
    justify-content: space-between;
    gap: 5%;
}

.style_imageContainer__AcAYS{
    position: relative;
    height: 100%;
    width: 40%;
}

.style_imageContainer__AcAYS img{
    object-fit: cover;
}

.style_column__IIiUu{
    display: flex;
    height: 100%;
    width: 20%;
    font-size: 1.6vw;
}

.style_column__IIiUu:last-of-type{
    align-items: flex-end;
    font-size: 1vw;
}

.style_projectList__GA_Wh{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
}

.style_projectEl__G6Cwn{
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
}
.style_projectEl__G6Cwn h2{
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: default;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/component/Newone/style.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.style_projects__JLY7u{
    position: relative;
    color: white;
    /* margin-top: 25vh; */
    padding: 10%;
}

.style_projectDescription__Fc2cT{
    display: flex;
    height: 700px;
    justify-content: space-between;
    gap: 5%;
}

.style_imageContainer__A69g0{
    position: relative;
    height: 100%;
    width: 40%;
}

.style_imageContainer__A69g0 img{
    object-fit: cover;
}

.style_column__1m4l3{
    display: flex;
    height: 100%;
    width: 20%;
    font-size: 1.6vw;
}

.style_column__1m4l3:last-of-type{
    align-items: flex-end;
    font-size: 1vw;
}

.style_projectList__goXLL{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
    justify-content: flex-end;

}

.style_projectEl__YVdkT{
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    /* display: flex;
    justify-content: flex-end; */
}
.style_projectEl__YVdkT h2{
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 3vw;
    cursor: default;
    border-bottom: 1px solid white;

}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/component/dummy/style.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_heading__2hsvo {
  color: #fff;
  text-align: center;
}
